/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: #C0E4F0;
}

 form {
 	text-align: center;
 }

 input, button{
 	border:1px solid #aaa;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: 0.9em;
    padding: 0.3em 0.4em 0.3em 0.4em;
 }

  input[type="submit"]:hover, button:hover{
  	background-color: #C7CAD1;
 }

.inline{
	display:inline-block;
}

.mainform{
	margin-top: 10%;
}

.sharedlinks {
 	text-decoration: none;
 	text-align: center;
 	font-family: Varela Round;
 	color: #5A77AD;
 	font-size: 0.9em;
 	margin-top: 1%;
 }

 .pagename{
 	text-align: center;
 	font-family: Varela Round;
 	font-style: bold;
 	font-size: 2em;
	color: #5A77AD;
 	margin: 0 0 1.5% 0;
 }

 .field{
 	font-family: Varela Round;
 	font-size: 0.9em;
 	margin: 0.8%;
 	text-align: center;
 }

 .clear{
 	clear: both;
 }

 .hide{
 	display: none;
 }

.current{
 	color: #FFBF47 !important;
 }

 #titlepretext{
 	text-align: center;
 	font-family: Dosis;
 	color: #5A77AD;
 	font-size: 2em;
 	margin: 3% 0 0 0;
 }

 #title{
 	text-align: center;
 	font-family: Varela Round;
 	font-size: 10em;
 	color: #FFBF47;
 	margin: 5px;
 }
